span a {
    color: #03B680;
    text-decoration: none;
}

.accountBody {
    background: url("/images/background.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.accountBody nav a {
    color: #FFFFFF;
}

.accountBody nav a:hover {
    color: #FDB24C;
}

.accountBody nav i {
    color: #FDB24C;
}

.navbar-icon-container {
    width: 30%;
    display: flex;
    justify-content: center;
}

.navbar-icon-container img {
    width: 250px;
}

.navbar-nav {
    border-bottom: 3px solid #FDB24C;
}

.navbar-nav-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.navbar-nav-row {
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item-flex {
    display: flex;
    align-items: center;
}

.container-flex-center {
    display: flex;
    justify-content: center;
}

.account-header {
    width: fit-content;

    padding: 0;
    padding-bottom: 25px;
    border-bottom: 3px solid #FDB24C;

    color: #03B680;
    font-weight: bolder;
    font-size: 3rem;
}

.btn-account {
    width: 100%;
    padding: 20px;

    background-color: #03B680;
    border: none;
    border-radius: 20px;

    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-account:hover {
    color: #FFFFFF;
}

.form-custom {
    padding: 0;
    padding-bottom: 10px;

    border: none;
    border-radius: 0;
    border-bottom: 3px solid #FDB24C;

    background-color: #FFFFFF00;
    color: white;
    font-weight: bold;
}

.form-custom:focus {
    background-color: inherit;
    outline: none;
    box-shadow: none;
    border-color: #A0A0A0;
    color: #A0A0A0;
}

/* WEBIKIT FORMS OVERRIDE STYLE */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    font-weight: bold;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}

.form-custom::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #03B680;
    opacity: 1; /* Firefox */
}

.form-custom:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #03B680;
}

.form-custom::-ms-input-placeholder { /* Microsoft Edge */
    color: #03B680;
}

.form-custom:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A0A0A0;
    opacity: 1; /* Firefox */
}

.form-custom:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #A0A0A0;
}

.form-custom:focus::-ms-input-placeholder { /* Microsoft Edge */
    color: #A0A0A0;
}

.logout-icon {
    cursor: pointer;
    transition: 0.15s;
}

.logout-icon:hover {
    color: #00A78D;
}