.sidebar-container {
    width: 20%;
    min-height: 700px;

    position: relative;
    background-color: #17252A;

    z-index: 1;
    transition: 0.5s;
} 

.sidebar-container * {
    transition: 0.5s;
}

.sidebar-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 1.8em;
    color: white;
    cursor: pointer;
}

.sidebar-figure {
    margin-top: 50px;

    font-size: 1.8em;
    font-weight: lighter;
    color: #00A78D;
}

.sidebar-figure a {
    color: inherit;
    text-decoration: none;
}

.sidebar-figure img {
    width: 175px;
}

.sidebar-container ul {
    padding: 0;
    list-style: none;
    color: #F1F2F5;
}

ul .sidebar-list-item:first-of-type {
    margin-top: 0.75rem;
}

.sidebar-list-item-header {
    padding: 0 3rem;
    margin: 2rem 0;
    font-weight: lighter;
}

.sidebar-list-item {
    padding: 12px;
    border-radius: 15px;
    font-weight: normal;
    cursor: pointer;
    color: #F1F2F5;
    text-decoration: none;
}

.sidebar-list-item label{
    cursor: pointer;
}

.sidebar-list-item a {
    color: #F1F2F5;
    text-decoration: none;
}

.sidebar-list-item, .sidebar-list-item a, .sidebar-list-item label, .sidebar-list-item i, .sidebar-list-item span {
    transition: 0.15s !important;
}

.sidebar-list-item:hover {
    background-color: #00A78D50;
}

.sidebar-list-item:hover a, .sidebar-list-item:hover label {
    color: #00A78D;
}

.sidebar-footer {
    width: 100%;

    position: absolute;
    bottom: 0;

    padding: 15px 2.5em;

    border-top: 2px solid #00A78D;
}

.sidebar-footer-claims-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-footer-claims-container p {
    margin: 0;
    font-weight: lighter;
    color: #F1F2F5;
}

.sidebar-footer-claims-container p:first-of-type {
    font-weight: bold;
    color: #00A78D;
}

.icon-big {
    color: #F1F2F5;
    font-size: 2.5em;
}

/* #region Sidebar width change */

.icon-position-fix{
    right: 25%;
}

.sidebar_size_change {
    width: 125px;
}

.sidebar_image_margin-fix {
    margin-top: 75px !important;
}

.sidebar-figure-width-fix {
    width: 90px !important;
}

.sidebar-list-item-header-fix{
    padding: 0;
    text-align: center;
}

.icon-size-fix{
    font-size: 1.5rem;
}

.sidebar-footer-padding-fix{
    padding: 15px 0;
}

.hide-on-change {
    display: inline-block;
}

/* #endregion */

@media(max-width: 1500px){
    .sidebar-list-item-header {
        padding: 0 2rem;
    }
}

@media(max-width: 1250px){
    .sidebar-list-item-header {
        padding: 0 1rem;
    }
}

@media (max-width: 1000px) {
    .sidebar-container {
        width: 125px;
    }

    .sidebar-icon {
        right: 25%;
    }

    .sidebar-figure {
        margin-top: 75px;
    }

    .sidebar-figure img {
        width: 90px;
    }

    .sidebar-list-item-header {
        padding: 0;
        text-align: center;
    }

    .sidebar-li-icon {
        font-size: 1.5rem;
    }

    .sidebar-footer {
        padding: 15px 0;
    }

    .hide-on-change {
        display: none;
    }
}

@media (max-width: 700px) {
    body{
        overflow-y: auto;
    }
}