@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string defaultLanguage = System.Threading.Thread.CurrentThread.CurrentUICulture.IetfLanguageTag;
    ViewData["Register"] = defaultLanguage.Equals(LANGUAGE_ES) ? Resources.Account_Register_Es : Resources.Account_Register_En;
}

<body class="accountBody">
    <header>
        <nav class="navbar justify-content-between">
            <a class="navbar-icon-container" asp-controller="Account" asp-action="Login"><img src="/images/logo.png" alt="saveyourmoney-logo-with-text" class="d-inline-block align-top" /></a>
            <div class="navbar-nav-container">
                <ul class="navbar-nav navbar-nav-row">
                    <li class="nav-item nav-item-flex">
                        <i class="fa-solid fa-arrow-right-to-bracket m-r-15"></i>
                        @if (!ViewData["Title"].Equals(Resources.Account_Register_En) && !ViewData["Title"].Equals(Resources.Account_Register_Es))
                        {
                            <a asp-controller="Account" asp-action="Register" class="nav-link">@ViewData["Register"]</a>
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <canvas id="canvas"></canvas>
    <div class="container mt-7">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="body-circles"></div>
</body>

@await RenderSectionAsync("Scripts", required: false)